
$headerTextColor: rgb(255, 255, 255);
$sidebarFooterColor: #444444;
$bodyFontFamily: Verdana, Arial, sans-serif;
$sidebarBkgrndColor: #aaaaaa;
$sidebarsectBkgrnColor: #dddddd;
$footerColor: #eeeeee;
$footerAColor: #ffffff;
